extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  //- h1= title

  div.top-stories

    div.main-story
      div.main-story-img-div: a(href=`/stories/${topStory.id}`)
        img(src=topStory.picture)
      div.author
        img(src=topStory.author.avatarUrl)
        span.author-link#big-author-link: a(href=`/profile/${topStory.userId}`)= topStory.author.userName
      div.main-block: a(href=`/stories/${topStory.id}`)
        h3= topStory.title
        p= topStory.hook
      div.story-info
        span #{topStory.createdAt.getMonth()} #{topStory.createdAt.getDate()}
        span= ` ${Math.ceil(topStory.body.split(' ').length/300)} min read`
        span= topStory.likingUsers.length


    div.top-four
      ul
        each story in sideStories
          li( class = "story")
            div.outdiv
              div.text-div
                div.author
                  img(src=story.author.avatarUrl)
                  span.author-link: a(href=`/profile/${story.userId}`)= story.author.userName
                div.main-block: a(href=`/stories/${story.id}`)
                  h3= story.title
                  p= story.hook
                div.story-info
                  span #{story.createdAt.getMonth()} #{story.createdAt.getDate()}
                  span= ` ${Math.ceil(story.body.split(' ').length/300)} min read`
                  span= story.likingUsers.length
              div.story-img-div
                img(src=story.picture)



  div(class="feed")
    ul
      each story in feed
        li( class = "story")
          div.outdiv
            div.text-div
              div.author
                img(src=story.author.avatarUrl)
                span.author-link: a(href=`/profile/${story.userId}`)= story.author.userName
              div.main-block: a(href=`/stories/${story.id}`)
                h3= story.title
                p= story.hook
              div.story-info
                span #{story.createdAt.getMonth()} #{story.createdAt.getDate()}
                span= ` ${Math.ceil(story.body.split(' ').length/300)} min read`
                span= story.likingUsers.length
            div.story-img-div
              img(src=story.picture)
