extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title 

  div(class = "main")
    ul 
      each story in stories 
        li( class = "story")
          div.outdiv
            div.text-div
              div.author
                img(src=story.User.avatarUrl)
                span.author-link: a(href=`/profile/${story.userId}`)= story.User.userName
              div: a(href=`/stories/${story.id}`)
                h3= story.title
                p= story.hook 
              div.story-info 
                span= story.createdAt 
                span `#{minutes} min read`
            div.story-img-div 
              img(src=story.picture)
            
            


