extends layout
block content
  link(rel="stylesheet" href="./javascripts/comments.js")
  h1= story.title
  p= story.hook
  p= story.body

  h1 Comment section

  ul
    each comment in comments
      li= comment
  div.newComment
    textarea.newComment__text(name="body", storyId=story.id, cols="30", rows="5") 
    button.newComment__submit(type="submit") Submit 
