extends layout
include utils.pug
block content
  append head
    script(src="/javascripts/comments.js" type="module" defer)
    script(src="/javascripts/likes.js" type="module" defer)
    link(rel="stylesheet" href="/stylesheets/stories.css")
  +validationErrorSummary(errors)
  article.article
    h1.article__title= story.title
    p.article__description= story.hook
    div.authorBar
      a.authorBar__pic(href= `/profile/${story.author.id}`)
      img.authorBar__pic(src=story.author.avatarUrl)
      a.authorBar__author(href= `/profile/${story.author.id}`)
        p.article__author()= story.author.username
      //- when a logged in user clicks follow, they will now be following the author the story
      //- #storybtns
      if authenticated
        if (locals.user.id !== story.author.id)
          button#storybtns__follow(class= "follow-button__following" data-profileuser= profileUser.id data-answer= answer)= followData
      span.article__dateCreated= `${story.createdAt.toLocaleString("en", { month: "short"  })} ${story.createdAt.getDate()} · ${Math.ceil(story.body.split(" ").length/300)} min read`

    img.article__picture(src=story.picture)

    p.article__body= story.body
    #storybtns
      if authenticated
        button#storybtns__like(class=`liked-${storyBool}` data-userId=`${locals.user.id}` data-likeableId=`${story.id}` data-likeableType=`story`)


        if (locals.user.id === story.author.id)
          //- when the loggedin creator of the story clicks the delete button, redirects to a delete confirm page
          //- #storybtns
          a(href=`/stories/${story.id}/delete`)
            button#storybtns__delete Delete



      else
        //- #storybtns
        a(href="../users/login") Login to follow and Clap!

    h1 Comment section
    ul.commentBox
      each comment in comments
        div.comment__div(id=`comment-${comment.id}`)
          li.comment__body= comment.body
          span.comment__user= comment.User.username
          br
          if authenticated && (locals.user.id === comment.userId)
            button.comment__delete(id=`${comment.id}`) Delete Comment
          if authenticated && (locals.user.id !== comment.userId)
            button#storybtns__like(class=`${comment.commentBool}` data-userId=`${locals.user.id}` data-likeableId=`${comment.id}` data-likeableType=`comment`)
          //- else if authenticated && (locals.user.id !== comment.userId)

    if authenticated
      div.newComment
        textarea.newComment__text(name="body", storyId=story.id, cols="30", rows="5")
        br
        button.newComment__submit(type="submit") Submit
    else
      a(href="../users/login") Login to join the conversation!
