extends layout.pug
append head
  script(src="/javascripts/stories-edit.js" type="module" defer)
  link(rel="stylesheet", href="/stylesheets/edit-story.css")


include utils.pug
  //- pass the story id to this page, if you click cancel will redirect to the story that you came from
  block content
    if authenticated
      if (locals.user.id === story.userId)
        h1.header What do you want to change about, #{story.title}?
          +validationErrorSummary(errors)
          div.border
            div.container
              input.form-control#title(placeholder='title' type='text' value=story.title)
              input.form-control.hook(placeholder='hook' type='text' value=story.hook)
              textarea.form-control.editForm-textarea.body #{story.body}
              input.form-control.picture(placeholder='picture url' type='text' value=story.picture)
              button.regbtn.confirmEdit__edit(id=`${story.id}`) Edit
              a(href=`/stories/${story.id}`)
                button.regbtn Cancel


          //- Add the titel, subheader, and body edit fields
          //- .confirmEdit
          //-   a(href=`/profile/${story.id}`)
          //-     button.confirmEdit__edit(id=`${story.id}`) Confirm Edit
