extends layout
include utils.pug
append head
  script(src="/javascripts/comments.js" type="module" defer)
  script(src="/javascripts/likes.js" type="module" defer)
  link(rel="stylesheet" href="/stylesheets/stories.css")

block content    
  +validationErrorSummary(errors)
  div.article-header
    h1.article__title= story.title
    p.article__description= story.hook
  div.authorBar
    a(href= `/profile/${story.author.id}`): div.avatar
      img.authorBar__pic(src=story.author.avatarUrl)
      p.article__author= story.author.username
    
    if !authenticated

    else if (locals.user.id !== story.author.id)
      button#storybtns__follow(class= "follow-button__following" data-profileuser= profileUser.id data-answer= answer)= followData
      span.article__dateCreated= `${story.createdAt.toLocaleString("en", { month: "short"  })} ${story.createdAt.getDate()} · ${Math.ceil(story.body.split(" ").length/300)} min read`
  div.story-body
    img.article__picture(src=story.picture)

    p.article__body= story.body
      #storybtns
    if authenticated
      button#storybtns__like(class=`liked-${bool}` data-userId=`${locals.user.id}` data-likeableId=`${story.id}` data-likeableType=`story`) Like Story

    if !authenticated
      
    else if (locals.user.id === story.author.id)
      a(href=`/stories/${story.id}/delete`)
        button#storybtns__delete Delete
    

  div.comment-section
    h1 Comment Section

  
    each comment in comments
      div.comment__div(id=`comment-${comment.id}`)
        p.comment__body= comment.body
        a(href= `/profile/${story.author.id}`): img(src=story.author.avatarUrl)
        a(href= `/profile/${story.author.id}`): span.comment__user= comment.User.username
        br
        if authenticated && (locals.user.id === comment.userId)
          button.comment__delete(id=`${comment.id}`) Delete Comment
        if authenticated && (locals.user.id !== comment.userId)
          button#storybtns__like(class=`liked-${bool}` data-userId=`${locals.user.id}` data-likeableId=`${story.id}` data-likeableType=`comment`) Like Comment

    if authenticated
      div.newComment
        textarea.newComment__text(name="body", storyId=story.id, cols="30", rows="5")
        br
        button.newComment__submit(type="submit") Submit
    else
      a(href="../users/login") Login to join the conversation!
