extends layout
include utils.pug
block content
  append head
    script(src="/javascripts/comments.js" type="module" defer)
  +validationErrorSummary(errors)

  h1= story.title
  p= story.author.username
  p= story.hook
  p= story.body

  if authenticated
    if (locals.user.id === story.author.id)
      button delete
      //- when the loggedin creator of the story clicks the delete button, redirects to a delete confirm page
    else
      button follow
      //- when a logged in user clicks follow, they will now be following the author the story
  else
    a(href="../users/login") Login to follow

  h1 Comment section

  ul.commentBox
    each comment in comments
      div.comment__div(id=`comment-${comment.id}`)
        li.comment__body= comment.body
        span.comment__user= comment.User.username
        br
        if authenticated && (locals.user.id === comment.userId)
          button.comment__delete(id=`${comment.id}`) Delete Comment
  if authenticated
    div.newComment
      textarea.newComment__text(name="body", storyId=story.id, cols="30", rows="5")
      button.newComment__submit(type="submit") Submit
  else
    a(href="../users/login") Login to join the conversation!
